#!/bin/sh
# doctlを使って、Dropletを起動するスクリプト
 
# --- check args ---
if [ $# -ne 1 ]; then
  echo "Please specify Name (1 arg)." 1>&2
  exit 1
fi
NAME=$1

# -- set ssh-key id --
SSH_KEY=12345678

# -- set vpc id --
VPC_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# -- set tag --
TAG=bootcamp

echo "Creating InstanceName="$NAME >&2
echo "Please wait a minute" >&2

# -- create droplet and wait initialize --
doctl compute droplet create --region sgp1 --image ubuntu-20-04-x64 --size s-1vcpu-1gb --vpc-uuid $VPC_ID --tag-name $TAG --wait --output json --ssh-keys $SSH_KEY $NAME > /tmp/droplet.json

export VPC_TARGET=`cat /tmp/droplet.json | jq -r '.[].networks.v4[] | select(.type == "private") | .ip_address'`
echo "Created. Private IP Address="$VPC_TARGET >&2

#export TARGET=`cat /tmp/droplet.json | jq -r '.[].networks.v4[].ip_address'`
export TARGET=`cat /tmp/droplet.json | jq -r '.[].networks.v4[] | select(.type == "public") | .ip_address'`
echo "Created. Public IP Address="$TARGET >&2

echo $VPC_TARGET


