#!/bin/sh
# リモートのDropletをコントロールし、kanbanを起動する

SSHKEY_FILE=~/.ssh/YOUR_PRIVATE_KEY

# -- default target --
HOST=$TARGET

# --- use arg, if specified ---
if [ $# -eq 1 ]; then
  HOST=$1
fi

echo "start Kanban IP=$HOST"

ssh -i $SSHKEY_FILE -o "StrictHostKeyChecking=no" root@$HOST <<EOC
cd kanban
source setup_env.sh
nohup sh start.sh &> /dev/null &

# --- wait until nohup ready --
sleep 2
EOC
