#
# copy to /etc/default/kanban-env
#

DB_USER="your_user"
DB_PASSWORD="your_password"
DB_NAME="defaultdb"
DB_HOST="db_host_name"
DB_PORT="25060"

GRAHPQL_HOST="{{ graphql_host }}"
GRAPHQL_PORT="{{ graphql_port }}"
GRAPHQL_BROWSER_URL="{{ graphql_browser_url }}"

FRONT_HOST="{{ front_host }}"
FRONT_PORT="{{ front_port }}"
FRONT_BASE="{{ front_base }}"

