#
# source setup_env.sh
#
export DB_USER="your_user"
export DB_PASSWORD="your_password"
export DB_NAME="defaultdb"
export DB_HOST="db_host_name"
export DB_PORT="25060"

export GRAHPQL_HOST="{{ graphql_host }}"
export GRAPHQL_PORT="{{ graphql_port }}"
export GRAPHQL_BROWSER_URL="{{ graphql_browser_url }}"

export FRONT_HOST="{{ front_host }}"
export FRONT_PORT="{{ front_port }}"
export FRONT_BASE="{{ front_base }}"

